/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #000000;
}

#header {
	background-color: #d9d7ca;
	width: 98%;
	height: auto;
	left: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid  #ececec; 
	position: fixed;
	z-index: 20;
}

#stubby-logo {
	max-width: 12%;
	height: auto;
	display: block;
	margin-top: 13px;
	margin-left: 10px;
}

#header-img {
	height: 1px;
	width: 1px;
	display: block;
}


#nav-bar {
	float: right;
	display: flex;
	margin-top: -70px;
	margin-right: 10px;
}

.nav-link {
	text-decoration: none;
	color:  #58007e;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-right: 12px;
}

.nav-divider {
	margin-right: 10px;
}

.nav-link:hover {
	color:  #b200fd;
	font-weight: 700;
}

#below-header {
	color: #292929;
	background-color: #d9d7ca;
	width: 98%;
	height: auto;
	font-family: Georgia, serif;
	position: relative;
	margin-left: 10px;
	padding-top: 30px;
	top: 120px;
	/* overflow: hidden; */

}

.section-anchor {
	display: block;
	height: 120px;
	margin-top: -120px;
	visibility: hidden;
}

.page-section {
	width: 85%;
	margin: auto;
}

#meet-stubby {
	position: relative;
}

.section-header {
	color: #050709;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}

#meet-stubby-content {
	font-size: 20px;
	font-weight: 550;
	line-height: 25px;
}

.stubby-paragraph {
	margin-bottom: 15px;
}

#our-menu, #order-content {
	margin-top: 50px;
}

#menu-container {
	border: 5px solid #2a2a2a;
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	padding: 5px 0 5px 0;
	justify-content: space-around;
}

@media (max-width: 450px) {

.menu-item-container img {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

#menu-container {
	border: none;
	width: 97%;
	display: block;
}
}

.menu-item-container {
	color: #050709;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 750;
}

.menu-pic {
	width: 250px;
	height: 250px;
	border: 2px solid black;
	border-radius: 10%;
	margin-top: 5px;
}

#video-container {
	display: block;
	margin-top: 25px;
	margin-left: 250px;
}

#vid-caption {
	width: 500px;
	height: auto;
	padding-top: 10px;
	margin-left: 15px;
	font-style: italic;
	text-align: center;
	font-weight: 550;
}

@media (max-width: 450px) {
	#video-container {
		margin-left: 5px;
	}

	#video {
		width: 250px;
		height: 200px;
	}

	#vid-caption {
		width: 200px;
		height: auto;
		margin-left: 0;
	}
}

#form-section {
	display: block;
	text-align: center;
	margin-bottom: 130px;
}

#form-section h2{
	color: #1c2833;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 7px;
}

#form-section p {
	color: #4b6a88;
	font-size: 15px;
	margin-bottom: 8px;
}

footer {
	background-color: #c0b98c;
	font-size: 13px;
	font-family: Impact, Charcoal, sans-serif;
	color: #0f4880;
	padding: 20px 10px 20px 0;
	text-align: right;
	border-top: 1px solid  #ececec; 
}
